<div class="main">

    <h1>Eat-Da-Burger!</h1>
    <ul>
        {{#each burger_data}}
            <li>{{this.burger_name}}</li>
            <button>fbdgdgh</button>
        {{/each}}
    </ul>
    <input id="input" type="text">
    <button type="button" class="subButton">Submit</button>
    <p>Enter the burger you want to eat. Click the "Submit" button </p>

</div>

