<h1>Eat-Da-Burger!</h1>
<ul>
    {{#each burgers}}
    {{/each}}
</ul>
<input type="text">
<button type="button" class="btn btn-primary">Submit</button>
<p>Enter the burger you want to eat. Click the "Submit" button </p>

